extends layout

block content
  div#header.flex.flex-col.items-center.justify-center.h-lvh.gap-y-10.text-white.text-center(data-aos="fade-up" data-aos-anchor-placement="center-bottom" style="background-image: url('images/roses.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;")
    p.text-5xl.font-bold Nous allons nous marier !
    h2.text-9xl Manon & Tom
    p.text-5xl.font-bold 14.10.24

  section(class="h-dvh flex justify-center")
    <!-- container -->
    div(class="flex max-xl:flex-col max-xl:gap-y-10 justify-center gap-x-10 py-20")
      <!-- illustration -->
      div(data-aos="fade-right" class="flex w-[30em] max-xl:h-[100%] max-xl:m-auto" style="background-image: url('images/bisou.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;")

      <!-- information -->
      div(class="flex flex-col gap-y-10 text-center items-center justify-center min-w-[40em] max-xl:min-w-full")
        h1(class="text-6xl") Cérémonie laïque
        h2(class="text-5xl") 16h00
        ul(class="text-4xl")
          li Chateau Grange Cochard
          li 1562 Voie Romaine
          li 69910 Villié-Morgon
        a(class="text-4xl" href="/src-to-google-map-location") Carte

  section(class="h-dvh flex justify-center")
    <!-- container -->
    div(class="flex flex-row-reverse max-xl:flex-col max-xl:gap-y-10 justify-center gap-x-10 py-20")
      <!-- illustration -->
      div(data-aos="fade-left" class="flex w-[30em] max-xl:h-[100%] max-xl:m-auto" style="background-image: url('images/bisou.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;")

      <!-- information -->
      div(class="flex flex-col gap-y-10 text-center items-center justify-center min-w-[40em] max-xl:min-w-full")
        h1(class="text-6xl") Cérémonie laïque
        h2(class="text-5xl") 16h00
        ul(class="text-4xl")
          li Chateau Grange Cochard
          li 1562 Voie Romaine
          li 69910 Villié-Morgon
        a(class="text-4xl" href="/src-to-google-map-location") Carte

  section(class="h-dvh flex justify-center")
    <!-- container -->
    div(class="flex max-xl:flex-col max-xl:gap-y-10 justify-center gap-x-10 py-20")
      <!-- illustration -->
      div(data-aos="fade-right" class="flex w-[30em] max-xl:h-[100%] max-xl:m-auto" style="background-image: url('images/bisou.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;")
      <!-- information -->
      div(class="flex flex-col gap-y-10 text-center items-center justify-center min-w-[40em] max-xl:min-w-full")
        h1(class="text-6xl") Cérémonie laïque
        h2(class="text-5xl") 16h00
        ul(class="text-4xl")
          li Chateau Grange Cochard
          li 1562 Voie Romaine
          li 69910 Villié-Morgon
        a(class="text-4xl" href="/src-to-google-map-location") Carte

  section(class="h-dvh flex justify-center")
    <!-- container -->
    div(class="flex flex-row-reverse max-xl:flex-col max-xl:gap-y-10 justify-center gap-x-10 py-20")
      <!-- illustration -->
      div(data-aos="fade-left" class="flex w-[30em] max-xl:h-[100%] max-xl:m-auto" style="background-image: url('images/bisou.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;")

      <!-- information -->
      div(class="flex flex-col gap-y-10 text-center items-center justify-center min-w-[40em] max-xl:min-w-full")
        h1(class="text-6xl") Cérémonie laïque
        h2(class="text-5xl") 16h00
        ul(class="text-4xl")
          li Chateau Grange Cochard
          li 1562 Voie Romaine
          li 69910 Villié-Morgon
        a(class="text-4xl" href="/src-to-google-map-location") Carte

  section(class="h-dvh flex justify-center")
    <!-- container -->
    div(class="flex max-xl:flex-col max-xl:gap-y-10 justify-center gap-x-10 py-20")
      <!-- illustration -->
      div(data-aos="fade-right" class="flex w-[30em] max-xl:h-[100%] max-xl:m-auto" style="background-image: url('images/bisou.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;")

      <!-- information -->
      div(class="flex flex-col gap-y-10 text-center items-center justify-center min-w-[40em] max-xl:min-w-full")
        h1(class="text-6xl") Cérémonie laïque
        h2(class="text-5xl") 16h00
        ul(class="text-4xl")
          li Chateau Grange Cochard
          li 1562 Voie Romaine
          li 69910 Villié-Morgon
        a(class="text-4xl" href="/src-to-google-map-location") Carte
  section(class="form-section flex flex-col items-center h-dvh py-20 gap-y-10 max-xl:mx-10")
    h1(class="text-6xl text-center") Mariage de Manon & Tom
    form(class="flex flex-col max-xl:min-w-full min-w-[70em] gap-y-10" role="form" method="POST" action="/")
      div(class="form-group flex w-full gap-x-20 max-xl:gap-x-0")
        <!-- first name input -->
        div(class="form-field flex flex-col gap-y-1.5 w-1/2")
          label(class="text-2xl" for="firstName") Prénom
          input(id="firstName" name="firstName" type="text" class="input-field h-16 text-2xl pl-5 bg-gray-100")
        <!-- last name input -->
        div(class="form-field flex flex-col gap-y-1.5 w-1/2")
          label(class="text-2xl" for="lastName") Nom
          input(id="lastName" name="lastName" type="text" class="input-field h-16 text-2xl pl-5 bg-gray-100")
      <!-- e-mail input -->
      div(class="form-group flex flex-col gap-y-1.5")
        label(class="text-2xl" for="email") Email
        input(id="email" name="email" type="email" class="input-field h-16 text-2xl pl-5 bg-gray-100")
      <!-- bool to know if guest is here at the wedding -->
      div(class="form-group flex flex-col gap-y-1.5")
        label(class="text-2xl") Serez-vous présent(e) ?
        div(class="form-radio-group")
          div(class="form-radio-field flex gap-x-5")
            input(type="radio" id="yes" name="isPresent" value="Oui" checked)
            label(class="text-2xl" for="yes") Oui
          div(class="form-radio-field flex gap-x-5")
            input(type="radio" id="no" name="isPresent" value="Non")
            label(class="text-2xl" for="no") Non
      <!-- food restrictions input -->
      div(class="form-group flex flex-col gap-y-1.5")
        label(class="text-2xl" for="foodRestrictions") Vous avez des restrictions alimentaires à nous signaler ?
        input(id="foodRestrictions" name="foodRestrictions" type="text" class="input-field h-16 text-2xl pl-5 bg-gray-100")
      <!-- questions or comments input -->
      div(class="form-group flex flex-col gap-y-1.5")
        label(class="text-2xl" for="answers") Questions ou commentaires
        input(id="answers" name="answers" type="text" class="input-field h-16 text-2xl pl-5 bg-gray-100")
      <!-- submit button -->
      div(class="form-group flex w-full justify-center")
        button(type="submit" class="submit-button py-5 px-10 bg-black text-white text-2xl relative overflow-hidden") Envoyer
