extends layout

block content
  div#header.flex.flex-col.items-center.justify-center.h-lvh.gap-y-10.text-white.text-center(data-aos="fade-up" data-aos-anchor-placement="center-bottom" style="background-image: url('images/tom-et-manon-qui-marchent.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;")
    p.text-5xl.font-bold Nous allons nous marier !
    h2.text-9xl Manon & Tom
    p.text-5xl.font-bold 14.10.24

  section(class="h-dvh flex justify-center")
    <!-- container -->
    div(class="flex max-xl:flex-col max-xl:gap-y-10 justify-center gap-x-10 py-20")
      <!-- illustration -->
      div(data-aos="fade-right" class="flex w-[30em] max-xl:h-[100%] max-xl:m-auto" style="background-image: url('images/bisou.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;")

      <!-- information -->
      div(class="flex flex-col gap-y-10 text-center items-center justify-center min-w-[40em]")
        h1(class="text-6xl") Cérémonie laïque
        h2(class="text-5xl") 16h00
        ul(class="text-4xl")
          li Chateau Grange Cochard
          li 1562 Voie Romaine
          li 69910 Villié-Morgon
        a(class="text-4xl" href="/src-to-google-map-location") Carte

  section(class="h-dvh flex justify-center")
    <!-- container -->
    div(class="flex flex-row-reverse max-xl:flex-col max-xl:gap-y-10 justify-center gap-x-10 py-20")
      <!-- illustration -->
      div(data-aos="fade-left" class="flex w-[30em] max-xl:h-[100%] max-xl:m-auto" style="background-image: url('images/bisou.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;")

      <!-- information -->
      div(class="flex flex-col gap-y-10 text-center items-center justify-center min-w-[40em]")
        h1(class="text-6xl") Cérémonie laïque
        h2(class="text-5xl") 16h00
        ul(class="text-4xl")
          li Chateau Grange Cochard
          li 1562 Voie Romaine
          li 69910 Villié-Morgon
        a(class="text-4xl" href="/src-to-google-map-location") Carte

  section(class="h-dvh flex justify-center")
    <!-- container -->
    div(class="flex max-xl:flex-col max-xl:gap-y-10 justify-center gap-x-10 py-20")
      <!-- illustration -->
      div(data-aos="fade-right" class="flex w-[30em] max-xl:h-[100%] max-xl:m-auto" style="background-image: url('images/bisou.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;")
      <!-- information -->
      div(class="flex flex-col gap-y-10 text-center items-center justify-center min-w-[40em]")
        h1(class="text-6xl") Cérémonie laïque
        h2(class="text-5xl") 16h00
        ul(class="text-4xl")
          li Chateau Grange Cochard
          li 1562 Voie Romaine
          li 69910 Villié-Morgon
        a(class="text-4xl" href="/src-to-google-map-location") Carte

  section(class="h-dvh flex justify-center")
    <!-- container -->
    div(class="flex flex-row-reverse max-xl:flex-col max-xl:gap-y-10 justify-center gap-x-10 py-20")
      <!-- illustration -->
      div(data-aos="fade-left" class="flex w-[30em] max-xl:h-[100%] max-xl:m-auto" style="background-image: url('images/bisou.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;")

      <!-- information -->
      div(class="flex flex-col gap-y-10 text-center items-center justify-center min-w-[40em]")
        h1(class="text-6xl") Cérémonie laïque
        h2(class="text-5xl") 16h00
        ul(class="text-4xl")
          li Chateau Grange Cochard
          li 1562 Voie Romaine
          li 69910 Villié-Morgon
        a(class="text-4xl" href="/src-to-google-map-location") Carte

  section(class="h-dvh flex justify-center")
    <!-- container -->
    div(class="flex max-xl:flex-col max-xl:gap-y-10 justify-center gap-x-10 py-20")
      <!-- illustration -->
      div(data-aos="fade-right" class="flex w-[30em] max-xl:h-[100%] max-xl:m-auto" style="background-image: url('images/bisou.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;")

      <!-- information -->
      div(class="flex flex-col gap-y-10 text-center items-center justify-center min-w-[40em]")
        h1(class="text-6xl") Cérémonie laïque
        h2(class="text-5xl") 16h00
        ul(class="text-4xl")
          li Chateau Grange Cochard
          li 1562 Voie Romaine
          li 69910 Villié-Morgon
        a(class="text-4xl" href="/src-to-google-map-location") Carte
