doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap", rel="stylesheet")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Parisienne&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css", integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==", crossorigin="anonymous", referrerpolicy="no-referrer")
    script(src="https://cdn.tailwindcss.com")
  body
    nav(id="navbar" class="relative md:fixed top-0 w-full bg-transparent text-white max-md:bg-black")
      div(class="flex items-center justify-between w-full")
        h1(class="text-3xl mx-10 py-4") M & T
        <!-- Mobile toggle button -->
        button(onclick="setMenu()" id="mobile-menu-btn" class="md:hidden z-40 block px-4 py-2 z-100 text-white")
          i(onclick="setMenu()" class="fas fa-bars text-2xl")

        <!-- Desktop navigation -->
        ul(class="hidden md:flex max-md:hidden items-center gap-x-10 mx-10")
          li
            a(href="#our-history") Notre histoire
          li
            a(href="#faq") FAQ
          li
            a(href="#contact")
              button(class="border-solid border-2 border-black p-2 bg-black text-white uppercase") Confirmez votre venue

      <!-- Mobile menu (hidden by default) -->
      div(id="mobile-menu" class="md:hidden absolute top-0 left-0 w-full bg-black text-white transform -translate-y-full transition-transform duration-300 ease-in-out")
        ul(class="flex flex-col items-center gap-y-4 py-16")
          li
            a(href="#our-history", onclick="setMenu()") Notre histoire
          li
            a(href="#faq", onclick="setMenu()") FAQ
          li
            a(href="#contact", onclick="setMenu()")
              button(class="border-solid border-2 border-white p-2 text-white uppercase") Confirmez votre venue

    block content

  script.
    let openMenu = true;

    window.addEventListener('scroll', function () {
      const navbar = document.getElementById('navbar');
      if (window.scrollY > 0) {
        navbar.classList.add('scrolled');
      } else {
        navbar.classList.remove('scrolled');
      }
    });

    // document.getElementById('mobile-menu-btn').addEventListener('click', function () {
    //   document.getElementById('mobile-menu').classList.toggle('-translate-y-full');
    // });
    //
    // document.addEventListener('click', function (event) {
    //   const mobileMenu = document.getElementById('mobile-menu');
    //   const mobileMenuBtn = document.getElementById('mobile-menu-btn');
    //
    //   if (!mobileMenu.contains(event.target) && event.target !== mobileMenuBtn) {
    //     mobileMenu.classList.add('-translate-y-full');
    //   }
    // });

    function setMenu() {
      openMenu = !openMenu;

      if (openMenu) {
        mobileMenu.classList.add('-translate-y-full');
      }
      else {
        document.getElementById('mobile-menu').classList.toggle('-translate-y-full');
      }
    }
