doctype html
html

  head
    title="Mariage de Manon et Tom"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css')
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap", rel="stylesheet")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Parisienne&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css", integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==", crossorigin="anonymous", referrerpolicy="no-referrer")
    script(src="https://cdn.tailwindcss.com")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js')

  body

    include nav

    block content

  script.
    /**
    * Init AOS animations
    */
    AOS.init();

    /**
    * Mobile menu open/close status, if menu open var equal true else false
    */
    let openMenu = false; // init to true

    /**
    * This event allow change navbar style when user scroll
    */
    window.addEventListener('scroll', function () {
      const navbar = document.getElementById('navbar');
      if (window.scrollY > 0) {
        navbar.classList.add('scrolled');
      } else {
        navbar.classList.remove('scrolled');
      }
    });

    /**
     * This function allow to open/close mobile menu
     */
    function setMenu() {
      openMenu = !openMenu;

      if (!openMenu) {
        document.getElementById('mobile-menu').classList.toggle('-translate-y-full');
        openMenu = false;
      }
      else {
        openMenu = true;
      }
    }
