* {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    scroll-behavior: smooth;
}

nav h1 {
    font-family: "Parisienne", cursive;
}

#navbar {
    transition: background-color 0.3s;
    z-index: 1000;
}

#navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
}

.submit-button {
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: color 0.3s ease;
}

.submit-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e5e7eb; /* gray-200 */
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: -1;
}

.submit-button:hover {
    color: black;
}

.submit-button:hover::before {
    transform: translateX(0);
}
