* {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
}

nav h1 {
    font-family: "Parisienne", cursive;
}

#navbar {
    transition: background-color 0.3s;
    z-index: 1000;
}

#navbar.scrolled {
    background-color: black;
}